<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sample Website</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <h1>Hello MR.Rakib</h1>
    <form action="/analyze" method="get">
        <textarea name="text" style="width: 1896px; height: 188px;"></textarea><br>
        <input type="checkbox" name="removepunc">Remove Punctuations <br>
        <input type="checkbox" name="capfirst">UPPER CASE <br>
        <input type="checkbox" name="newlineremover">Remove New Line <br>
        <input type="checkbox" name="spaceremover">Remove Space <br>
        <input type="checkbox" name="charcount">Count the number of Letter <br>
        <button type="submit">Text Analyzer</button>
    </form>

</body>

</html>